<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>

        <h1>Hello Vue Loops</h1>

        <div id = "app">

            <label for="task">Please enter your to do task:</label>
            <br>
            <input id="task" v-model="newTask">
            <button v-on:click="addTask">Add Task</button>
           
            <ul>
                <!--Use v-for to match up number of li items to number of tasks in array-->
                <li v-for="task in taskList">{{task}}</li>
            </ul>

        </div>

        <script>

            let app = Vue.createApp({
                data() {
                    return {
                        newTask: '',
                        taskList: []
                    }
                },
                methods: {
                    addTask() {
                        this.taskList.push(this.newTask)
                        this.newTask = ''
                    }
                }
            })

            app.mount('#app')

            //this one is pretty self explanatory - no questions from me!

        </script>

    </body>

</html>